.carousel {
  overflow: hidden;
}

.inner {
  white-space: nowrap;
  transition: transform 0.7s;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.carousel-item-image {
  height: 100%;
  width: 100%;
  background-size: cover;
  border-radius: var(--chakra-radii-md);
}
