.carousel-modal {
  overflow: hidden;
}

.inner-modal {
  white-space: nowrap;
  transition: transform 0.7s;
}

@media (min-width: 700px) and (max-width: 1199px) {
  .inner-modal > .carousel-item {
    height: 21.9rem;
    max-height: 21.9rem;
  }
}

@media (min-width: 1200px) and (max-width: 1499px) {
  .inner-modal > .carousel-item {
    height: 25.3rem;
    max-height: 25.3rem;
  }
}

@media (min-width: 1500px) {
  .inner-modal > .carousel-item {
    height: 39rem;
    max-height: 39rem;
  }
}
