.carousel {
  overflow: hidden;
}

.inner {
  white-space: nowrap;
  transition: transform 0.7s;
}

@media (max-width: 499px) {
  .carousel-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    max-height: 200px;
  }
}

@media (min-width: 500px) {
  .carousel-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    max-height: 300px;
  }
}

.carousel-item-image {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}
