:focus {
  box-shadow: none !important;
}

*[data-focus] {
  box-shadow: none !important;
}

._activeMenuLinkDark {
  color: #81e6d9;
  font-weight: 600;
}

._activeMenuLinkLight {
  color: #2c7a7b;
  font-weight: 600;
}
